.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.body {
  margin: 40px;
  font-family: Poppins, sans-serif;
  margin-left:0!important;
  margin-right:0!important;
}

.grid {
  grid-auto-flow: row;
  grid-column-gap: 12px;
}

.col-1 {
  width: 12.5%;
  min-height: 8px;
  min-width: 12.5%;
}

.col-2 {
  width: 25%;
  padding-right: 16px;
}

.col-2.projectcard {
  margin-right: 16px;
  padding: 32px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.col-4 {
  width: 50%;
}

.col-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.col-6.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col-6.inset {
  overflow: hidden;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e4ebee;
}

.col-3 {
  width: 37.5%;
}

.col-3.logo {
  text-align: left;
}

.col-3.menu {
  text-align: right;
}

.col-3.carouselpic {
  height: 318px;
  background-color: #e4ebee;
}

.col-3.carouselcard {
  min-width: 37.5%;
  margin-right: 16px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-2.nav {
  margin-top: 104px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  margin-top: 144px;
  margin-bottom: 34px;
  color: #3f9fa2;
  font-size: 72px;
  line-height: 84px;
}

.text-block {
  margin-bottom: 144px;
  font-size: 26px;
  line-height: 41px;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-4.hero-img {
  overflow: hidden;
  height: 672px;
  background-color: #e4ebee;
}

.image {
  max-width: none;
}

.image.heropic {
  position: relative;
  left: 48%;
  width: 52%;
  min-width: 52%;
  box-shadow: 8px 8px 33px 0 rgba(0, 0, 0, 0.14);
  -o-object-fit: contain;
  object-fit: contain;
}

.heropic2 {
  position: relative;
  left: -52%;
  width: 52%;
  max-width: none;
  min-width: 52%;
  margin-top: 50px;
  box-shadow: 8px 8px 33px 0 rgba(0, 0, 0, 0.14);
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 80px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 144px;
  padding-top: 16px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #3f9fa2;
  font-size: 12px;
}

.text-block-2 {
  font-family: Poppins, sans-serif;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bodycopy {
  margin-bottom: 144px;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.5px;
}

.text-block-3 {
  color: #3f9fa2;
  font-size: 36px;
  font-weight: 700;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.inset-img {
  width: 11.5%;
  margin-right: 16px;
  margin-left: 16px;
  box-shadow: 8px 8px 33px 0 rgba(0, 0, 0, 0.14);
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.section-8.carousel {
  overflow: auto;
}

.carouselpic {
  width: 100%;
  height: 500px;
  background-color: #fff;
}

.section-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-left:0!important;
  padding-left:0!important;
  background-color: #3f9fa2;
}

.section-9.footer {
  margin-top: 144px;
  padding-top: 144px;
  padding-bottom: 144px;
  background-color: #3f9fa2;
}

.text-block-3-copy {
  color: #fff;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.subhead {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.cardheadline {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
  font-size: 26px;
  line-height: 41px;
}

.div-block-3 {
  text-align: right;
}

@media screen and (max-width: 991px) {
  .col-1 {
    width: 0%;
    min-width: 12.5%;
  }

  .col-1.hideme {
    display: none;
  }

  .col-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 87.5%;
    margin-bottom: 32px;
  }

  .col-2.projectcard {
    margin-bottom: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .col-2.hideme {
    display: none;
  }

  .col-4 {
    width: 75%;
  }

  .col-6 {
    width: 75%;
  }

  .col-6.inset {
    height: 340px;
  }

  .col-3 {
    width: 75%;
  }

  .col-3.logo {
    width: 37.2%;
  }

  .col-3.menu {
    width: 37.2%;
  }

  .col-3.carouselcard {
    min-width: 75%;
  }

  .section-2.nav {
    margin-top: 80px;
  }

  .heading {
    margin-top: 80px;
  }

  .text-block {
    margin-bottom: 80px;
    font-size: 22px;
  }

  .section-4.hero-img {
    height: 440px;
  }

  .caption {
    margin-bottom: 80px;
  }

  .section-6 {
    padding-left: 12.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .bodycopy {
    margin-bottom: 80px;
  }

  .section-9.footer {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 12.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-3-copy {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    margin: 32px 32px 0px;
  }

  .col-1.hidemobile {
    display: none;
  }

  .col-2 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-6.inset {
    width: 100%;
    height: 310px;
  }

  .col-6.title {
    width: 100%;
  }

  .col-3.logo {
    width: 50%;
  }

  .col-3.menu {
    width: 50%;
  }

  .col-3.carouselcard {
    width: 80%;
    min-width: 80%;
  }

  .section-2.nav {
    margin-top: 0px;
  }

  .heading {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .text-block {
    font-size: 16px;
    line-height: 28px;
  }

  .section-4.hero-img {
    height: 320px;
  }

  .caption {
    margin-bottom: 48px;
  }

  .section-6 {
    padding-left: 0%;
  }

  .bodycopy {
    margin-top: 16px;
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 31px;
  }

  .text-block-3 {
    font-size: 31px;
  }

  .inset-img {
    margin-right: 8px;
    margin-left: 8px;
  }

  .section-8.carousel {
    overflow: auto;
  }

  .carouselpic {
    height: 400px;
  }

  .section-9.footer {
    margin-right: -32px;
    margin-left: -32px;
    padding: 48px 32px 32px;
  }

  .text-block-3-copy {
    padding-bottom: 32px;
  }

  .cardheadline {
    font-size: 18px;
  }

  .bold-text {
    font-size: 50px;
    line-height: 55px;
  }
}

@media screen and (max-width: 479px) {
  .col-6.inset {
    height: 200px;
  }

  .section-4.hero-img {
    height: 200px;
  }

  .div-block {
    padding-top: 32px;
  }

  .bold-text {
    font-size: 50px;
    line-height: 40px;
  }
  .caption {
    margin-left: 16px;
  }
  .logo {
      margin: 16px!important;
  }
  .section-3 {
    padding: 40px!important;
  }
  .section-6 {
    padding: 40px!important;
  }
  .section-9 {
    padding: 40px!important;
  }
}

